.auth-custom-message {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-style: italic;
    .flashbag {
        font-weight: bold;
    }
}

.twofactor-prompt-title {
    width: 80%;
    margin-left: 10%;
}
