.button-sprite {
    width: 40px;
    height: 40px;
    background-image: image-url('sprites.png');
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
        background-color: $color-med;
    }

    @for $i from 0 through 20 {
        &.button-#{$i} {
            background-position: 0 (-(0px+$i)*40);
            &:hover, &.enabled {
                background-position: -40px (-(0px+$i)*40);
                background-color: $color-blue;
            }
        }
    }
}

button,
.input-button {
    border: 0;
    text-transform: uppercase;
    font-size: .75em;
    background: $color-med;
    padding: 1em 1.2em;

    &:enabled {
        cursor: pointer;
        &:hover {
            background-color: $color-blue;
            color: white;
        }
    }
    &:focus {
        outline: none;
    }
}

.button {
    cursor: pointer;
    background: $color-med;

    &:hover {
        background-color: $color-blue;
        color: white;
    }

    &:focus {
        outline: none;
    }
}

@mixin button-active-hover {
    background-color: $color-blue;
    color: white;
}

button.active,
.input-button.active,
.button.active {
    @include button-active-hover;
    &:hover {
        background-color: $color-blue-hover;
    }
}

@mixin button-mgt-plan {
    background-image: image-url('sprites.png');
    background-position: -6px -166px;
    &:hover {
        background-position: -46px -166px;
    }
    &.disabled {
        opacity: 0.5;
    }
}

// Semantic UI Button overrides //
.ui.button {
    color: $color-dark;
    background-color: $color-med-light;
    &:focus, &:active, &:hover {
        &:not(.ui-state-disabled) {
            color: white;
            background-color: $color-blue;
        }
        &.ui-state-disabled {
            color: $color-dark;
            background-color: $color-med-light;
        }
    }
}
