$header-height:     4em;
$header-padding:    .5em;

$width-sidebar-right:       24em;
$width-sidebar-left:        18em;

$width-login-form:        20em;

$width-profile-transcript:  75%;

$height-namebar-div:        5.25em;

$padding-main-div:          3em;

$padding-action-board:      .5em;
$padding-action-item:       1em;
$size-action-status-box:    32px;
