html, body {
    font-family: $font-family;
    font-size: 14px;
    letter-spacing: 0.025em;
    color: #444;
    &:not(.conversation-input), &:not(.text-input) {
        -khtml-user-drag: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
    }
    .records_list {
        -webkit-user-select: text;
        -khtml-user-drag: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    .allow-select {
        -webkit-user-select: text;
        -khtml-user-drag: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}

@mixin normal-text() {
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

input, textarea, button {
    font-family: $font-family;
}

h2 {
    margin-top: 1em;
}

h2 .small {
    font-size: 1rem;
}

a,
a:visited,
a:active {
    color: $color-blue;
    text-decoration: underline;
}

a.no-underline {
    text-decoration: none;
}

.ui-autocomplete {

    background-color: $color-med-light;

    &.emoji-autocomplete {
        padding: 1em 0;
        font-size: 80%;

        .ui-menu-item {
            padding: 0 1em;
        }
    }

    .ui-menu-item {
        cursor: pointer;
        &.ui-state-focus {
            color: white;
            background-color: $color-blue;
        }
    }
}
