.wiki-title {
    clear: both;
    float: left;
}

.password-flash {
    margin: 1em;
    padding: .5em;
    background: $color-red;
    color: white;
}

.repeater-flag-box {
    font-size: 9px;
    border: 1px solid $color-dark;
    padding: 0.33em;
}
