html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

// when logged in (app) the #body content is initially hidden
// this is handled by PlatformQuotes
body.app #body {
    display: none;
}

body #body {
    height:     100%;
    overflow:   hidden;
}

div[role="main"] > div.iframe {
    padding: 0;
    overflow-y: hidden;

    h1 {
        display: none;
    }

    nav ul {
        margin: 0 3em;
    }

    iframe {
        border: 0;
        height: 100%;
        width: 100%;
        padding-bottom: 2.3em;
    }
}

.wiki-title {
    clear: both;
    float: left;
}

.password-flash {
    margin: 1em;
    padding: .5em;
    background: $color-red;
    color: white;
}

.repeater-flag-box {
    font-size: 9px;
    border: 1px solid $color-dark;
    padding: 0.33em;
}
