.contentful {
    width: 100%;
    .cms-list {
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }
    .cms-main {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
    .cms-item {
        .title {
            // @extend h2;
            font-size: 2em;
            color: $color-blue;
            margin: .5rem 0;
            border-bottom: 1px solid $color-blue;
        }
    }
    .cms-list-item {
        .cms-list-item-button {
            cursor: pointer;
            .arrow {
                height: 10px;
                width: 10px;
                
            }
        }
    }
}
