.contentful {
    $height-cms-list-gap-full: 1.5em;
    $height-cms-list-gap-half: $height-cms-list-gap-full / 2;
    $height-cms-heading: 2rem;

    width: 100%;
    position: relative;

    // TODO (TC): The CSS for .cms-upper and .cms-lower is pretty hacky
    // because we need to get around how the platform is structured, w/ subnav, title, main-wrapper, etc.
    // Come back and revisit this once we start implementing the new UX structure
    .cms-upper {
        z-index: 5;
        background-color: $color-blue;
        margin: 0 (-1 * $padding-main-div);
        @include calc('width', 100% - #{$width-sidebar-left});
        // width: 100%;
        position: fixed;
        border-bottom: 1px solid $color-med-light;
        .cms-search {
            height: 9em;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            text-align: center;
            padding: 1em 0;
            .title {
                font-weight: bold;
                color: white;
                font-size: $height-cms-heading;
            }
            .ui.action {
                margin-top: 1em;
                width: 50%;
            }
        }
        .cms-breadcrumb {
            width: 100%;
            padding: 1.5em $padding-main-div;
            background-color: white;
        }
    }
    .cms-lower {
        padding-top: 13em;
    }

    // Setting up the consistent bar line up top
    .cms-list .cms-list-space-name,
    .cms-main div[class^='cms-main-'] .title {
        line-height: 4rem;
        color: $color-blue;
        font-weight: bold;
        border-bottom: 1px solid $color-med-light;
    }

    // The CMS Main area
    .cms-main {
        display: inline-block;
        vertical-align: top;
        width: 75%;
        padding-left: 1.5rem;
        div[class^='cms-main-'] {
            .title {
                font-size: $height-cms-heading;
            }
            line-height: $height-cms-list-gap-full;
        }
    }

    // The CMS List
    .cms-list {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding-right: 1.5rem;
        .cms-list-space-name {
            font-size: 1.5rem;
        }
        // .cms-list-space-name, .cms-list-item-button {
        .cms-list-item-button {
            cursor: pointer;
        }
    }

    .list-items > .cms-list-item {
        border-bottom: 1px solid $color-med-light;
        &:last-of-type {
            border-bottom: none;
        }
    }

    .cms-list-empty-search {
        font-weight: bold;
        padding: $height-cms-list-gap-full 0;
    }

    .cms-list-item {
        &.active > .cms-list-item-button,
        .cms-list-item-button:hover {
            // TODO (TC): This makes the results list unstable as we make successive items bold
            // Do we have an alternative for this behavior?
            font-weight: bold;
        }
        // .cms-list-item-button:hover {
        //     background-color: $color-light;
        // }
        .cms-list-item-button {
            position: relative;
            .clicker {
                padding: $height-cms-list-gap-full 0;
            }
            .arrow {
                height: 1em;
                width: 1em;
                float: right;
                margin: $height-cms-list-gap-full 0;
                i.icon {
                    margin: none;
                }
            }
        }

        &.parent.open,
        .sub-entries .cms-list-item {
            .cms-list-item-button {
                .clicker {
                    padding-bottom: $height-cms-list-gap-half;
                }
                .arrow {
                    margin-bottom: $height-cms-list-gap-half;
                }
            }
        }


        .sub-entries {
            padding-left: 1em;
            .cms-list-item {
                // TODO: figure out how to do the arrow, if we still want to do it
                // &.active > .cms-list-item-button,
                // .cms-list-item-button:hover {
                //     .clicker {
                //         margin: -.25em;
                //         &:before {
                //             content: '-';
                //         }
                //     }
                // }
                .cms-list-item-button {
                    .clicker {
                        padding-top: $height-cms-list-gap-half;
                    }
                    .arrow {
                        margin-top: $height-cms-list-gap-half;
                    }
                }
                &:last-of-type {
                    .cms-list-item-button {
                        .clicker {
                            padding-bottom: $height-cms-list-gap-full;
                        }
                        .arrow {
                            margin-bottom: $height-cms-list-gap-full;
                        }
                    }
                }
            }
        }
    }
}
