.contentful {
    width: 100%;
    .cms-list {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        padding-right: 1.5rem;
        .cms-space-name {
            font-size: 1.5rem;
        }
        .cms-list-item-button, .cms-space-name {
            cursor: pointer;
        }
    }
    .cms-main {
        display: inline-block;
        vertical-align: top;
        width: 75%;
        padding-left: 1.5rem;
        .cms-space, .cms-item {
            .title {
                font-size: 2rem;
            }
        }
    }

    .cms-list .cms-space-name,
    .cms-main .cms-space .title,
    .cms-main .cms-item  .title {
        line-height: 4rem;
        color: $color-blue;
        font-weight: bold;
        border-bottom: 1px solid $color-med-light;
    }

    .cms-list > .cms-list-item {
        border-bottom: 1px solid $color-med-light;
        padding: .75em 0;
        &:last-of-type {
            border-bottom: none;
        }
    }

    .cms-list-item {
        &.active > .cms-list-item-button,
        .cms-list-item-button:hover {
            font-weight: bold;
        }
        .cms-list-item-button {
            position: relative;
            padding: .75em 0;
            .arrow {
                height: 1em;
                width: 1em;
                float: right;
                &.active {
                    background-color: $color-blue;
                }
                &.inactive {
                    background-color: $color-green;
                }
            }
        }
        .sub-entries {
            padding-left: 1em;
        }
    }
}
