// -- TC - THIS WAS PULLED FROM BASE.SCSS
.toolbar {
    background: $color-blue;
    padding: .5em;
    margin-top: 1em;
    margin-left: -1em;
    position: absolute;

    &.left {
        margin-top: 0;
    }
    a {
        color: white;
        padding: 0 !important;
    }
    &:after {
        width: 0;
        height: 0;
        position: absolute;
        left: 1em;
        bottom: 100%;
        content: "";
        border-color: transparent;
        border-style: solid;
        border-bottom-color: $color-blue;
        border-width: .8em;
    }
    &.bottom:after {
        border-bottom-color: transparent;
        border-top-color: $color-blue;
        top: 100%;
        left: 50%;
        margin-left: -.8em;
    }

    &.left:after {
        border-bottom-color: transparent;
        border-right-color: $color-blue;
        border-top-color: transparent;
        top: 0;
        left: -2.15em;
        border-width: 1.14em;
    }

    li {
        list-style-type: none;
    }

    .button {
        background: white;
        margin: .5em 0;
        padding: .1em .5em;

        &:hover {
            background: $color-dark;
        }
    }
}
// -- END PULL


.conversations {
    position: absolute;
    right: 1em;
    bottom: 0;
    transform: translateZ(0);
    pointer-events: none;
    white-space: nowrap;

    &>* {
        white-space: normal;
    }

    .note {
        color: $color-blue;
        background: $color-light;
        padding: .5em;
    }

    .last-message-timestamp {
        text-align: center;
        color: $color-med;
    }

    .unread-messages {
        cursor: pointer;
        color: $color-blue;
        text-decoration: underline;
        text-align: center;
    }
    .conversation {
        position: relative;
        pointer-events: all;
        display: inline-block;
        @include box-shadow($shadow-small);
        vertical-align: bottom;
        margin: 0 .2em;
        background: white;

        &.minimized {
            width: 200px;
            padding-bottom: 0;

            .conversation-content,
            .conversation-title .timestamp,
            .conversation-title .pending-transfer,
            .conversation-blocker {
                display: none;
            }
        }

        .conversation-blocker {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-overlay;
            .message {
                background-color: white;
                position: absolute;
                $conversation-blocker-height: 45%;
                $conversation-blocker-width: 80%;
                height: $conversation-blocker-height;
                width: $conversation-blocker-width;
                top: (100% - $conversation-blocker-height) / 2;
                left: (100% - $conversation-blocker-width) / 2;
                border: 1px solid $color-med;
                .inner {
                    margin: 1em;
                }
                .buttons {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: $color-light;
                }
            }
        }
    }

    button {
        background-color: transparent;
        border-right: 1px solid $color-med;
        margin: 0;
        &:hover {
            @extend button:hover;
        }
    }

    .character-count {
        font-size: .8em;
        color: $color-dark;
    }

    .conversation .text-input {
        width: 100%;
        height: 5em;
        resize: none;
        margin: 0;
        padding: .5em;
        font-size: 1em;
        border: 0;

        &:focus {
            outline: none;
            position: relative;
            overflow: visible;
            // word-wrap: break-word;
        }

        &:disabled {
            background: $color-light;
        }
    }

    .conversation-input {
        border-top: 1px solid $color-hover;
        width: 100%;
    }

    .external .message-list {
        height: 300px;
    }

    .internal .message-list {
        max-height: 200px;
    }

    .conversation .action {
        display: block;
        width: 2em;
        float: left;
        text-align: center;
    }

    .conversation .action:hover {
        background-color: rgba(255, 255, 255, .2);
    }

    .internal .conversation-title {
        background-color: $color-blue;
    }

    .conversation-title {
        background-color: $color-green;
        padding: .2em 0 .2em .5em;
        line-height: 2em;
        cursor: pointer;
        color: white;
        position: relative;
        font-weight: bold;

        &.color-0 { background: $color-0; }
        &.color-1 { background: $color-1; }
        &.color-2 { background: $color-2; }
        &.color-3 { background: $color-3; }
        &.color-4 { background: $color-4; }
        &.color-5 { background: $color-5; }
        &.color-6 { background: $color-6; }
        &.color-7 { background: $color-7; }
        &.color-8 { background: $color-8; }
        &.color-9 { background: $color-9; }

        .texter-name {
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 140px;
            white-space: nowrap;
            display: inline-block;
            vertical-align: middle;
            margin-right: .5em;
        }

        .repeater-flag-box {
            margin-left: 1em;
            border: 1px solid white;
        }

        .icon {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin: 0 0 -12px 0;
            &.mgt-plan {
                background-image: image-url('sprites-mgtplan.png');
                background-position: -6px -126px;
            }
            &.ficon {
                background-image: image-url('sprites-ficon.png');
                background-position: -6px -126px;
            }
        }

        .prioritize-arrow {
            @include prioritize-arrow(1em);
            &.down {
                color: white;
                &:before, &:after {
                    color: white;
                }
            }
        }

        &.priority-4 {
            background: $color-priority-4;
        }

        &.flashing {
            -webkit-animation: blinker 1s linear infinite;
            animation: blinker 1s linear infinite;
        }
    }

    @-webkit-keyframes blinker {
        50% { opacity: .4; filter: alpha(opacity=25); }
    }
    @keyframes blinker {
        50% { opacity: .4; filter: alpha(opacity=25); }
    }

    .minimized {
        .repeater-flag-box, .icon {
            display: none;
        }
    }

    .conversation-buttons {
        float: right;
    }

    .conversation-toolbar {
        background: $color-light;
        div {
            display: inline-block;
        }
        .taxonomy-widget {
            float: right;
            margin-right: 16px;
        }
        button {
            &.disabled {
                opacity: 0.3;
            }
        }
    }

    .conversation-footer {
        padding: .5em;
        height: 2em;
        display: table;
        width: 100%;
    }

    .conversation-footer > * {
        display: table-cell;
    }

    .conversation-footer > :last-child {
        text-align: right;
    }
}

.message-list {
    overflow-y: scroll;
    padding: 0 1em;
}

.external {
    font-size: 1.1em;
    width: 450px;
    position: relative;
    button:last-child {
        float: right;
        border-right: none;
        border-left: 1px solid $color-med;
    }
}
.internal {
    width: 350px;
    position: relative;
}

.message-user {
    display: block;
    height: 100%;
    font-weight: bold;

    &:after {
        content: ":";
    }
}

.message-text {
    margin-left: 3em;
}

.message-meta {
    float: left;
    color: $color-med-dark;
    font-size: .75em;
    margin-top: .25em;
}

.profile-messages .message {
    &.error {
        .message-text {
            &:before {
                display: none;
            }

            padding-right: 1em;
        }
        &:after {
            display: none;
        }
        &:before {
            content: 'Message did not send';
            color: red;
            font-weight: bold;
            display: block;
        }
    }
}

.message {
    margin: .5em 0;
    clear: both;
    word-wrap: break-word;

    &.error {
        padding: .5em;
        background: rgba(255,0,0,.2);
        .message-meta {
            display: none;
        }
        .message-text {
            margin-left: 2.5em;

            &:before {
                content: '\2717';
                float: left;
                color: red;
                margin-left: -1.5em;
            }
        }
        &:after {
            content: 'Message did not send.';
            margin-left: 2.5em;
            color: red;
        }
    }

    .message-media {
        @include calc(max-width, 100% - #{3em});
    }
}

.next-conversation {
    @extend .conversation-title;
    @extend .conversation;
    width: 2em;
    padding-right: .5em;
    text-align: center;

    img {
        max-height: 100%;
    }

    &:hover {
        background: $color-blue-hover;
    }
}

.arrow {
    .conversation-title:after {
        border-top: 1.3em solid transparent;
        border-bottom: 1.3em solid transparent;
        border-left: 1em solid $color-blue;
        width: 0;
        height: 0;
        display: block;
        content: "";
        position: absolute;
        right: -1em;
        top: 0;
    }
}

.conversation-history {
    background: $color-light;
    max-height: 300px;
}

.timestamp {
    font-weight: normal;
    margin-left: .5em;
    font-size: .8em;

    &:before { content: '[started '; }
    &:after { content: ']'; }
}

.pending-transfer {
    font-weight: bold;
    margin-left: 1em;
    font-size: .8em;
}

:not(tr).pending {
    opacity: .5;
    &:before {
        content: 'Sending: ';
    }
}

.typing {
    font-style: italic;
    color: $color-med-dark;
}

.conversation-content {
    position: relative;
    .conversation-alerter {
        position: absolute;
        top: 0;
        left: 0;
        background: $color-blue;
        a {
            color: white;
        }
        color: white;
        padding: .2em;
        text-align: center;
        width: calc(100% - 12px);
        width: -webkit-calc(100% - 12px);
        width: -moz-calc(100% - 12px);
        width: -o-calc(100% - 12px);

        .close {
            @extend .close-x;
            background: $color-med;
        }
    }
}
