nav, .nav {
    margin-left: .5em;
    li.active>a {
        background-color: rgba(255,255,255,.4);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a, a:visited {
        /*color: white;*/
        text-decoration: none;
        display: block;
        padding: 0 1.2em;
        position: relative;

        &:hover {
            background-color: rgba(255,255,255,.2);
        }
    }

    .toolbox-tab {
        .pip {
            margin-left: -0.5em;    
        }        
    }

    .pip {
        position: absolute;
        top: .5em;
        left: 1em;
        line-height: 1em;
        margin-left: -1em;
        text-align: center;
        div, span {
            display: inline-block;
            @include border-radius(.25em);
            height: 1.4em;
            width: 1.4em;
            font-size: 0.65em;
            &.queue {
                background-color: $color-red;
                color: white;
            }
            &.chronic {
                background-color: $color-priority-4;
                color: white;
            }
            &.action-item {
                color: white;
                &.flag { border: 1px solid white; }
                &.notification { background-color: $color-notification; }
                &.todo { background-color: $color-todo; }
                &.mgtplan { background-color: $color-mgtplan; }
                &.unread { background-color: $color-green;}
                &.submitted { background-color: $color-red;}
            }
            &.toolbox-unread {
                color: white;
                background-color: $color-green;
            }
            &.transfer-queue-pips {
                color: white;
                background-color: $color-green;
            }
        }
    }
}

.section-admin nav a, .section-admin .nav a {
    padding-right: 1em;
    padding-left: 1em;
}
