#login-quote {
    font-size: 3.5em;
    text-indent: -0.45em;
    margin-top: 0;

    &.first-shift {
        font-size: 2.5em;
    }
}

#login-quote-author {
    
    &:before {
        content: "-";
    }
}

.overlay-close {
    border: 1px solid black !important;
    display: block;
    padding: .3em .5em;
    position: absolute;
    top: 0;
    right: 15px;
}

.super-intro-list {
    list-style-type: none;
    padding: 0;

    li {
        
        overflow-y: auto;
        margin-top: 2em;

        img {
            height: 100px;
            width: 100px;
            margin-bottom: 5px;
            float: left;
        }

        p {
            margin-left: 110px;
            margin-top: 0;
            margin-top: 0;
            margin-bottom: 0.3em;
        }

        .super-name {
            font-size: 20px;
            font-weight: bold;
        }

        .super-quote {
            margin-top: 5px;
            text-align: left;
        }
    }
}

$paddingLeftQuote : 38px;

.intro-supers, .intro-quote {
    margin: 10px;
    position: relative;
    width: 45%;
    padding-left: $paddingLeftQuote;
    display: inline-block;
    vertical-align: top;
    height: 90%;
}

.intro-quote {
    margin-right: 28px;
}

.logout-wrapper {
    padding-left: $paddingLeftQuote;
}

.intro-supers {
    border-left: 1px solid;

    h2 {
        margin-top: 0;
    }

    &.first-shift {
        width: 90%;
        border: none;
    }
}
