.records_list {
    -webkit-user-select: text;
    -khtml-user-drag: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.allow-select {
    -webkit-user-select: text;
    -khtml-user-drag: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table {
    &.referrals,
    &.referrals-admin {
        tr.even {
            background-color: $color-light;
        }
    }    
}

.referral-admin-form {
    h2, h3 {
        span {
            @include normal-text();
        }
    }

    label {
        display: inline-block;
        width: 8em;
        &.top {
            vertical-align: top;
        }
    }
    input, select {
        display: inline-block;
    }
    .hidden {
        display: none;
    }

    table {
        &.layout {
            border: 0px;
            th, td {
                padding: 0px;
                background-color: $color-light;
            }
            td {
                vertical-align: top;
            }
            section {
              height: 100%;
            }
        }

        &.contact-details, &.contact-point {
            tr {
                background-color: $color-light;
                &.add-more {
                    background-color: transparent;
                }
            }
        }
        &.contact-point th {
            background-color: $color-blue-hover;
        }
    }

    section {
        padding: 0 1em 1em;
        background-color: $color-light;
    }
}
