.referral .tags {
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

$issues-width: 10em;
#referral-issues {
    width: $issues-width;
    position: absolute;
    button {
        float: left;
        width: 100%;
        text-align: center;
        background-color: $color-med-light;
        text-transform: none;
        &:hover {
            background-color: $color-blue;
        }
    }
}

.dataTables_wrapper #referral-table {
    @include calc(width, 100% - #{$issues-width} - 2em);
    margin-left: $issues-width + 2em;
}

// Hide base table while JS loading if refreshing on this page
#main-wrapper > .records_list.referrals {
    display: none;
}

table {
    &.referrals {
        padding-top: 1em;
        thead {
            display: none;
        }
        td {
            padding: 0 !important;
        }
        tr.sub td {
            padding-left: 6em !important;
        }
        tr:first-of-type td {
            padding-top: 0;
            .referral {
                border-top: 0;
            }
        }
        h2 {
            margin-top: 0;
        }
    }
    &.referrals-admin {
        tr.even {
            background-color: $color-light;
        }
    }    
}

.referrals {
    .referral {
        padding: 3em;
        border-top: 1px solid $color-med-light;
        border-bottom: 1px solid $color-med-light;
        &:hover {
            background-color: $color-light;
        }
    }
    .meta {
        margin-bottom: 1em;
        .tags {
            vertical-align: top;
            display: inline-block;
            padding-top: .25em;
            width: 40%;
            button {
                padding: .4em;
                text-transform: lowercase;
                background: $color-med-light;
                margin: 0 .5em .5em 0;
                @include border-radius(6px);
                color: $color-med-dark;
                &:hover {
                    color: white;
                    background: $color-blue;
                }
            }
            a {
                margin-top: -.25em;
                display: block;
                font-size: .75em;
            }
        }
        .contact {
            display: inline-block;
            vertical-align: top;
            max-width: 60%;
        }
    }
    .tags-toggle, .details-toggle, .sub-programs-toggle {
        cursor: pointer;
    }
}

.referral-admin-form {
    h2, h3 {
        span {
            @include normal-text();
        }
    }

    label {
        display: inline-block;
        width: 8em;
        &.top {
            vertical-align: top;
        }
    }
    input, select {
        display: inline-block;
    }
    .radio-input {
        display: inline-block;
        overflow: hidden;

        input, label {
            float: left;
        }
        input {
            clear: both;
        }
    }
    .hidden {
        display: none;
    }

    table {
        &.layout {
            border: 0px;
            th, td {
                padding: 0px;
                background-color: $color-light;
            }
            td {
                vertical-align: top;
            }
            section {
              height: 100%;
            }
        }

        &.contact-details, &.contact-point {
            tr {
                background-color: $color-light;
                &.add-more {
                    background-color: transparent;
                }
            }
        }
        &.contact-point th {
            background-color: $color-blue-hover;
        }
    }

    section {
        padding: 0 1em 1em;
        background-color: $color-light;
        > div {
            clear: both;
        }
    }
}
