#referral_search_what {
    color: gray;
}

#referral_search_where {
    color: gray;
}

.records_list {
    -webkit-user-select: text;
    -khtml-user-drag: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.allow-select {
  -webkit-user-select: text;
  -khtml-user-drag: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}