.toolbox-item {
    list-style-type: none;
    border-bottom: 1px solid #aaa;
    margin: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.toolbox-list {
    border: 1px solid #aaa;
    border-radius: 5px;
}

.toolbox-item-header {
    cursor: pointer;
}
.toolbox-list .toolbox-item:last-child {
    border-bottom: 0px;
}

iframe.toolbox-item-resource {
    width: 100%;
    border: 0px;
    min-height: 500px;
}
