.traffic-light {
    float: left;
    width: 5.75em;
    height: 2em;
    background: $color-traffic-light;
    margin-top: 1em;
    border-bottom-left-radius: 10%1em;
    border-top-left-radius: 10%1em;
    border-bottom-right-radius: 10%1em;
    border-top-right-radius: 10%1em;
    padding: .5em 0;
    text-align: center;

    li[class*='light-'] {
        list-style: none;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: $color-light;
        float: left;
        margin-left: .3em;

        &.up {
            background-image: image-url('fa-arrow-right.png');
            background-repeat: no-repeat;
            background-position: center;
        }

        &.down {
            background-image: image-url('fa-arrow-left.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @for $i from 1 through 4 {
        .light-#{$i}.on {
            @include apply-queue-health-color($i, background-color);
        }
    }
}
