$popup-avatar-size: 40px;
$popup-fontsize: 11px;
$popup-line-height: 1.4;
$popup-quote-lines: 3;

// Common wrapper styling for sections and profile card
.user-profile {
    .profile-card, .profile-section {
        margin-bottom: 2rem;
    }
    .profile-card .profile-card-name, .profile-section .section-name {
        font-size: 2em;
        font-weight: bold;
        color: white;
        padding: .5rem 1rem;
    }
    .profile-card .profile-card-content, .profile-section .field-content {
        background-color: $color-light
    }
}

// Main Profile Section formatting
.user-profile .profile-section {
    .section-name {
        margin: 1rem 0;
    }
    .field-name {
        color: white;
        padding: .5rem 1rem;
    }
    .field-content {
        overflow: hidden;
        padding: 1.5rem 0;
        text-align: center;
        &:not(.size-normal) {
            font-size: 6rem;
        }
        &:not(.weight-normal) {
            font-weight: bold;
        }
        svg {
            text {
                fill: $color-dark;
            }
            .axis {
                path, line {
                    fill: none;
                    stroke: $color-med;
                    shape-rendering: crispEdges;
                }
                &.x line, &.y path {
                    display: none;
                }
            }
            .background-shape {
                fill: $color-med-light;
            }
            @for $i from 1 through 4 {
                .zone-#{$i} {
                    @include apply-queue-health-color($i, fill);
                }
            }
        }
    }
    // Specific Sections
    &.cc-hours {
        .section-name, .field-name {
            background-color: $color-blue;
        }
        .field-content {
            color: $color-blue;
        }
    }
    &.cc-impact {
        .section-name, .field-name {
            background-color: $color-green;
        }
        .field-content {
            color: $color-green;
        }
    }
    // Specific Fields
    .profile-field {
        &.cc-hours-monthly {
            .field-content {
                padding: 3rem 0 2rem;
            }
            svg {
                rect {
                    fill: $color-blue;
                }
                .labels text {
                    fill: white;
                    &.lowVal {
                        fill: $color-dark;
                    }
                }
            }
        }
        &.cc-convo-count {
            .field-content {
                color: $color-dark;
                font-size: 1.5rem;
                padding: 2rem 0;
                .convo-icon {
                    margin: auto;
                    padding-top: 1.6rem;
                    background-color: $color-light;
                    background-image: image-url('comment-green.png');
                    background-size: 100px 100px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        &.cc-queue-health {
            .field-content {
                padding: 2rem 0;
                font-size: 1.5rem;
            }
        }
        &.cc-issue-types {
            .field-content {
                padding: 3rem 0;
            }
            svg {
                .shapes, .snippet {
                    fill: $color-green;
                }
                .background-shape {
                    fill: transparent;
                }
                .shapes, .legend, .labels {
                    cursor: pointer;
                }
                .labels text {
                    fill: white;
                }
            }
        }
        &.cc-texter-sentiment {
            svg {
                .words text {
                    fill: $color-green;
                }
            }
        }
    }
}

// Main Profile Page Profile Card formatting
.user-profile .profile-card {
    .profile-card-name {
        color: white;
        @for $i from 1 through length($levelColorList) {
            &.level-#{$i} {
                @include apply-level-color($i, background-color);
            }
        }
        &.trainee {
            background-color: $color-trainee;
        }
        &.supervisor {
            background-color: $color-supervisor;
        }
        &.admin {
            background-color: $color-admin;
        }
        a {
            color: white;
        }
        .edit-link {
            font-size: 1rem;
        }

        span.last-updated {
            font-weight: normal;
            float: right;
            font-size: 1rem;
            font-style: italic;
        }
    }

    .editable {
        cursor: pointer;
    }

    // Overriding Semantic UI's grid padding here
    .ui.grid > .column:not(.row), .ui.grid > .row > .column {
        padding: 2rem 0 2rem 2rem;
    }

    .profile-card-content {
        &>div>div {
            margin-bottom: .5rem;
        }
        label {
            font-weight: bold;
        }
        input[type="text"], textarea {
            width: 100%;
            display: block;
        }
        textarea {
            height: auto;
        }
        input[type="checkbox"] {
            cursor: pointer;
            margin-right: .5rem;
        }
        span.unset {
            font-style: italic;
            color: $color-med-dark;
        }
        .edit-buttons {
            margin: 1rem 0 0 !important;
            .submit {
                @include button-active-hover;
            }
        }
        .gravatar-toggle, .alias-checkbox {
            margin-top: .5em;
            width: 100%;
            label {
                font-weight: normal;
            }
        }
    }

    .profile-card-mid {
        padding-right: 1rem !important;
    }

    .profile-card-right {
        padding: 2rem 2rem 2rem 1rem !important;
        span.value:not(.static) {
            display: block;
            &:not(.unset):before {
                content: open-quote;
            }
            &:not(.unset):after {
                content: close-quote;
            }
        }
    }
}

.supervisor-actions {
    .ui.button {
        width: 50%;
        color: $color-dark !important;
        background-size: 2rem !important;
        background-repeat: no-repeat !important;
        background-position: 1rem center !important;
        &.good-egg {
            background-image: image-url('egg-with-hearts-dark.svg');
        }
        &.escalation {
            background-image: image-url('escalations-dark.svg');
        }
    }
    .ui.button:hover {
        color: white !important;
        background-color: $color-blue !important;
        &.good-egg {
            background-image: image-url('egg-with-hearts-white.svg') !important;
        }
        &.escalation {
            background-image: image-url('escalations-white.svg') !important;
        }
    }
}

textarea#escalation_message {
    height: 5.5em;
    min-height: 5.5em;
}

.monopoly-nomination {
    float: right;
    cursor: pointer;
}

.monopoly-nomination-icon {
    margin: 1px 0px 0px 4px;
    height: 1em;
}

// Sidebar popup Profile Card formatting
.ui-tooltip.profile-card-tooltip {
    background-color: white;
    color: $color-dark;
    font-size: $popup-fontsize;
    &:after {
        display: none;
    }
}

.profile-card.popup {
    padding: .5em;
    .profile-card-content {
        width: 100%;
        .profile-card-left, .profile-card-right {
            display: inline-block;
            vertical-align: top;
        }
    }
    .profile-card-left {
        margin-right: 1em;
        .gravatar {
            width: $popup-avatar-size;
            height: $popup-avatar-size;
        }
    }
    .profile-card-right {
        max-width: 200px;
        .quote {
            // For limiting to 3 lines, with ellpisis in webkit
            display: block;
            display: -webkit-box;
            max-width: 100%;
            max-height: $popup-quote-lines * $popup-fontsize * $popup-line-height;
            margin: 1em auto 0;
            line-height: $popup-line-height;
            -webkit-line-clamp: $popup-quote-lines;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &:before, &:after {
                content: "\0022";
            }
        }
    }
}
