<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<link rel="stylesheet" href="assets/fabricator/styles/f.css">
	<link rel="stylesheet" href="assets/crisistextline/styles/screen.css">

</head>
<body>

	{{> f-icons}}
	{{> f-menu}}
	<div class="f-container">
		{{> f-control-bar}}


	{% body %}


		</div>
	<script src="assets/fabricator/scripts/f.js"></script>
	<script src="assets/toolkit/scripts/toolkit.js"></script>

</body>
</html>
