/*
 * Welcome to La Sape, Crisis Text Line's Pattern Library.
 * Repo can be found on GitHub at https://github.com/CrisisTextLine/La-Sape
 * and static hosted version showing patterns can be seen at http://crisistextline.github.io/La-Sape.
 * Please consult both when making changes here.
 */
@charset "UTF-8";

// Importing Compass helper functions
@import "compass";

// Importing our own overrides of Semantic UI
@import "partials/01-base/semanticui";

@import "partials/01-base/colors";
@import "partials/01-base/dimensions";
@import "partials/01-base/typography";
@import "partials/01-base/base";

@import "partials/02-elements/auth";
@import "partials/02-elements/buttons";
@import "partials/02-elements/scrollbar";
@import "partials/02-elements/notice";
@import "partials/02-elements/tables";
@import "partials/02-elements/forms";
@import "partials/02-elements/icons";

@import "vendor/jquery-ui";
@import "vendor/dataTables.jqueryui";
@import "vendor/dataTables.tableTools";

@import "partials/01-base/zindices";

// TC - TODO: need to sort through the following
@import "partials/03-components/help-button";
@import "partials/03-components/toolbox";
@import "partials/03-components/header";
@import "partials/03-components/traffic-light";
@import "partials/03-components/nav";
@import "partials/03-components/body";
@import "partials/03-components/main";
@import "partials/03-components/pwdchk";
@import "partials/03-components/referrals";
@import "partials/03-components/transfer";
@import "partials/03-components/action-item-form";
@import "partials/03-components/sidebar";
@import "partials/03-components/conversation";
@import "partials/03-components/conversation-list";
@import "partials/03-components/example-responses";
@import "partials/03-components/queue-button";
@import "partials/03-components/management-plan";
@import "partials/03-components/synonyms";
@import "partials/03-components/platform-quotes";

@import "partials/04-structures/profile";
@import "partials/04-structures/supervisor";
@import "partials/04-structures/my-dashboard";
@import "partials/04-structures/reporting-log";
@import "partials/04-structures/counselor-action-items";
@import "partials/04-structures/user-profile";

// TC  - this is down here b/c of hopscotch - bring it in earlier?
@import "partials/03-components/releasenotes";